.jsonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;

  & button {
    color: var(--color-action);
  }
}

.jsonWrapper {
  padding: 2rem;
  margin: 4rem;
  text-align: center;
  background-color: var(--color-light-1);
  &:not(:last-child) {
    margin-right: 4rem;
  }
}

.panel {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;

  & button {
    color: var(--color-action);
  }
}

.compareBtn {
  grid-row: 2 / 3;
  grid-column: 2 / 3;

  display: flex;
  align-items: center;

  & svg {
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
  }
}

.row {
  display: flex;
  justify-content: center;
}

.top {
  margin-top: 2rem;
}

.filtersWrapper {
  display: flex;
  align-items: center;
  color: var(--color-action);
  margin-top: 2rem;

  & button {
    color: inherit;
  }

  & p {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0 2rem;
  }
}

.filters {
  display: flex;
  align-items: center;
  & button:not(:last-of-type) {
    margin-right: 1rem;
  }
}
