.jsonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.jsonWrapper {
  padding: 2rem;
  margin: 4rem;
  text-align: center;
  background-color: var(--color-light-1);
  &:not(:last-child) {
    margin-right: 4rem;
  }
}

.panel {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
}

.compareBtn {
  grid-row: 2 / 3;
  grid-column: 2 / 3;

  display: flex;
  align-items: center;

  & svg {
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
  }
}

.row {
  display: flex;
}
