.tooltip {
  display: inline;
  position: relative;
}

.tooltip:hover {
  text-decoration: none;
}

.tooltip:hover:after {
  background: #111;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.5em;
  bottom: 2.25em;
  color: #fff;
  content: attr(title);
  display: block;
  left: 1em;
  padding: 0.3rem 1rem;
  position: absolute;
  text-shadow: 0 1px 0 #000;
  white-space: nowrap;
  z-index: 98;
}

.tooltip:hover:before {
  border: solid;
  border-color: #111 transparent;
  border-color: rgba(0, 0, 0, 0.8) transparent;
  border-width: 0.4em 0.4em 0 0.4em;
  bottom: 1.9em;
  content: '';
  display: block;
  left: 2em;
  position: absolute;
  z-index: 99;
}
